/* Colors */
$color-accent: #0f4c81;
$color-white: #fff;
$color-black: #000;
$color-text: #161616;
$color-title: #4B4B4B;
$color-error: #FF4444;
$color-success: #44ff44;
$color-active: #685EB0;
$color-gray: gray;
$color-orange: #F8A64C;

/* Margins */
